* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-moz-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff59;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #365f96ad;
}

// Common Classes

.smallmenuicon {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: column;

    .contact_nav {
        width: 100%;
        background: #2c3192;
        padding: 0.7em 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-size: 1em;
            padding: 0 10px;
            text-decoration: none !important;
            font-weight: 600;
            color: rgb(255, 255, 255);
        }

        .socialMedia {
            a{
                color: #ffffff !important;
                i{
                    font-size: 1.2em !important;
                }

            }
        }
    }

    .container {
        padding: 0.8em 2em;

        .navbar-brand {
            img {
                height: 70px;
                // filter: drop-shadow(2px 2px 2px black);
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center !important;
            align-items: center;
            width: 100%;
            position: relative;

            // padding-left: 7vmax;
            li {
                padding-left: 1em;
                top: 0;

                a {
                    font-size: 1.08em;
                    font-weight: 400;
                    color: #2c3192;
                    cursor: pointer;

                    &:hover {
                        font-weight: 500;
                    } 
                }
            }

            .letsTalk{
                position: absolute ;
                right: 0;
                top: -5px;
                background-color: #2c3192;
                color: white !important ;
                text-decoration: none !important ;
                padding: 10px; 
                border-radius: 3px; 
                font-size: 1em !important;
            }
        }
    }
}

.navbar {
    background-color: white !important;
    transform: translateZ(0);
    transition: all 0.5s !important;
    z-index: 19;
    border-radius: 0;
}

.navbar.fixed {
    background-color: white !important;
    width: 100%;
    animation: slide-down 0.7s !important;
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    .contact_nav {
        display: none !important;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(10);
    }
}

@media screen and (max-width: 1112px) {
    .navbar {
        .container {

            ul {
                width: 87%;
                .letsTalk{
                    right:auto;
                }
            }
        }
    }
}

@media screen and (max-width: 815px) {

    .navbar {
        .container-fluid {

            .navbar-brand {
                img {
                    height: 40px;
                }
            }

            ul {

                li {
                    padding-left: 0.8em;

                    a {
                        font-size: 0.76em;
                        font-weight: 600;
                        color: black;
                        cursor: pointer;
                    }
                }

                .letsTalk{
                    right:auto;
                }
            }
        }
    }

}

.footcont {

    .upperFooter {

        background-color: #2c3192;

        .upperFooterRow {
            padding: 10px 2px;
            width: 70%;
        }

        .upperFooter_col {
            display: flex;
            justify-content: center;
        }

        a {
            text-decoration: none !important;
            color: white !important;
            font-size: 0.95em;
            font-weight: 600;
        }
    }

    .footLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;

        a {
            width: 80%;
            text-decoration: none !important;
            font-size: 1em;
            font-weight: 600;
            line-height: 2em;
            color: #2c3192;
        }
    }
}

@media only screen and (max-width: 1160px) {
    .footcont {

        .upperFooter {

            .upperFooterRow {
                width: 95%;
            }

        }

        .footLink {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px 0;

            a {
                width: 80%;
                text-decoration: none !important;
                font-size: 1em;
                font-weight: 600;
                line-height: 2em;
                color: #2c3192;
            }
        }
    }


}

@media only screen and (max-width: 923px) {

    .footcont {

        .upperFooter {
            a {
                font-size: 0.75em;
            }
        }

        .footLink {
            a {
                width: 95%;
                font-size: 0.85em;
            }
        }
    }


    .smallmenuicon {
        display: flex;
        padding: 10px;
        font-size: 26px;
        cursor: pointer;
    }

    .big_menu {
        display: none !important;
    }

    .small_menu {

        padding: 0;
        position: absolute;
        right: 0px !important;
        top: 97%;
        width: 40%;
        background-color: white;
        box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1019607843);
        display: flex;

        li {
            border-bottom: 1px solid rgb(207, 205, 205);
            padding: 10px 10px;

            a {
                font-size: 0.86em;
                font-weight: 600;
                color: black;
                cursor: pointer;

                &:hover {
                    color: #2c3192;
                }
            }

        }

    }
}