<nav class="navbar navbar-expand-lg" [ngClass]="{'fixed': isScrolled}">
    <div class="contact_nav all_sec_common">
        <div>
            <a href="">info&#64;aayushinstitute.com</a>
            <a href="tel:+916294063840">Call Us: +916294063840</a>
            <a>Address</a>
        </div>
        <div class="socialMedia">  
             <a href=""><i class="bi bi-facebook"></i></a>
             <a href=""><i class="bi bi-instagram"></i></a>
             <a href=""><i class="bi bi-twitter-x"></i> </a> 
        </div>  
    </div>
    <div class="container-fluid all_sec_common">
        <a class="navbar-brand" href="#">
            <img src="assets/aayush logo.jpg" alt="" srcset="">
        </a>

        <i class="bi bi-list smallmenuicon" (click)="toggleNav()"></i>
        <ul class="navbar-nav big_menu">
            <li>
                <a (click)="route_to_page('home')">Home</a>
            </li>
            <li>
                <a (click)="route_to_page('about-us')">Course</a>
            </li>

            <li>
                <a (click)="route_to_page('career')">Target Course</a>
            </li>
            <li>
                <a (click)="route_to_page('career')">Scholarship</a>
            </li>
            <li>
                <a (click)="route_to_page('career')">Blog</a>
            </li>
            <li>
                <a (click)="route_to_page('career')">Student LMS</a>
            </li>

            <li>
                <a class="letsTalk" style="color: white;">Login/Register</a>
            </li>
        </ul>
    </div>

    @if(show_small_menu){
    <ul class="navbar-nav small_menu">
        <li>
            <a (click)="route_to_page('home')">Home</a>
        </li>
        <li>
            <a (click)="route_to_page('about-us')">Course</a>
        </li>

        <li>
            <a (click)="route_to_page('career')">Target Course</a>
        </li>
        <li>
            <a (click)="route_to_page('career')">Scholarship</a>
        </li>
        <li>
            <a (click)="route_to_page('career')">Blog</a>
        </li>
        <li>
            <a (click)="route_to_page('career')">Student LMS</a>
        </li>
    </ul>
    }

</nav>

<router-outlet />

<div class="container-fluid footer_scss footcont all_sec_common" >
  <div class="row">
    <div class="col-lg-4 mt-3 logo_img">
      <img src="assets/aayush logo.jpg" class="log_img" alt="" srcset="">
      <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quos facilis quaerat aliquid nisi obcaecati culpa tempore mollitia est animi. </h5>
      
    </div>


    <div class="col-lg-2 col-6 mt-3 px-lg-4">
        <div class="cateG">
          <ul>
            <li class="categoryfoot">
              <span class="categoryfoot1">Our Courses</span>
            </li>
  
            <li>
              <a (click)="route_to_page('digital-engineering')">Web Dev</a>
            </li>
            <li>
                <a (click)="route_to_page('digital-engineering')">Web Dev</a>
              </li>
              <li>
                <a (click)="route_to_page('digital-engineering')">Web Dev</a>
              </li>
              <li>
                <a (click)="route_to_page('digital-engineering')">Web Dev</a>
              </li>
              <li>
                <a (click)="route_to_page('digital-engineering')">Web Dev</a>
              </li>
          </ul>
        </div>
      </div>

    <div class="col-lg-2 col-6 mt-3 ">
      <div class="cateG">
        <ul>
          <li class="categoryfoot">
            <span class="categoryfoot1"> Quick Links</span>
          </li>
          <li>
            <a>Home</a>
          </li>
          <li>
            <a (click)="route_to_page('about-us')">About Us</a>
          </li>
          <li>
            <a (click)="route_to_page('career')">Blogs</a>
          </li>
          <li>
            <a (click)="route_to_page('career')">Careers</a>
          </li>
          <li>
            <a (click)="route_to_page('contact')">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-2 col-6 mt-3 ">
        <div class="cateG">
          <ul>
            <li class="categoryfoot">
              <span class="categoryfoot1"> Quick Links</span>
            </li>

            <li>
                <a (click)="route_to_page('career')">
                  Admissions</a>
              </li>

            <li>
              <a (click)="route_to_page('career')">
                Terms & Conditions</a>
            </li>
            <li>
              <a (click)="route_to_page('contact')">Policy</a>
            </li>
            <li>
                <a (click)="route_to_page('contact')">Mission & Vision</a>
              </li>
              <li>
                <a (click)="route_to_page('contact')">FAQs</a>
              </li>
          </ul>
        </div>
      </div>

    <div class="col-lg-2 col-sm-6 mt-3">

      <div class="addressfoot">

        <p class="contactfoot">Contact Details</p>

        <p class="addressfoot1">
          <span><i class="bi bi-geo-fill" style="color: rgb(44, 43, 43);"></i></span>
          Delhi
        </p>

        <p class="addressfoot1 mt-2">
          <span><i class="bi bi-envelope-fill" style="color: rgb(44, 43, 43);"></i></span>
          <a href="mailto:aayushinstitute.com">{{'aayushinstitute.com'}}
          </a>
        </p>
      </div>

      <div class="all_icon mt-3">
        <h5>Follow Us</h5>
      </div>
      <div class="all_icon mt-2">

        <a><i class="bi bi-facebook"></i></a>
        <a><i class="bi bi-instagram"></i></a>
        <a><i class="bi bi-twitter-x"></i></a>

      </div>
    </div>
    <div class="col-12 mt-5 copy_right">
      <span>COPYRIGHT &copy;  2021 All rights reserved.</span>
    </div>
  </div>
</div>