<div class="container-fluid">

    <div class="mainHeaderWrapper">
        <video #bg_video autoplay muted loop playsinline preload="auto" id="bg_video">
            <source src="assets/bg-video.mp4" type="video/mp4" />
            Your browser does not support HTML5 video.
        </video>

        <div class="row mainHeaderrow">
            <div class="col-lg-12">
                <div class="content">
                    <h1>Welcome to Angular!</h1>
                    <p>Background video example with SCSS styling.</p>

                    <div class="d-flex">
                        <button class="start">Get Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" ourCourses all_sec_common">

        <div class="col-lg-3  col-md-5 ourCoursesCol">
            <div class="div">
                <i class="bi bi-globe-central-south-asia"></i>
                <h3>Heading</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt totam enim consectetur laudantium
                doloribus impedit.. </p>
        </div>
        <div class="col-lg-3  col-md-5 ourCoursesCol">
            <div class="div">
                <i class="bi bi-pencil-fill"></i>
                <h3>Heading</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt totam enim consectetur laudantium
                doloribus impedit.. </p>
        </div>
        <div class="col-lg-3  col-md-5 ourCoursesCol">
            <div class="div">
                <i class="bi bi-pentagon-fill"></i>
                <h3>Heading</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt totam enim consectetur laudantium
                doloribus impedit.. </p>
        </div>
        <div class="col-lg-3  col-md-5 ourCoursesCol">
            <div class="div">
                <i class="bi bi-folder2-open"></i>
                <h3>Heading</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt totam enim consectetur laudantium
                doloribus impedit.. </p>
        </div>

    </div>

    <div class="row popularCourses all_sec_common">
        <div
            style="display: flex; justify-content: center; flex-direction: column; align-items: center;padding: 1em 0px;">
            <h3 style="text-align: center; font-size: 3em; font-weight: 600;">
                Popular Courses
            </h3>
            <div style="border-bottom: 5px solid #150461; width: 100px; margin-top: 10px;"></div>
        </div>

        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="popularslideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">

            <div ngxSlickItem *ngFor="let slide of slides" class="col-lg-3 slide  ourCoursesCol">
                <img src="{{slide.img}}" alt="" height="180px" width="100%">
                <h3>{{slide.heading}}</h3>
                <p>{{slide.para}}</p>
                <div class="btmdiv">
                    <img src="assets/students.jpg" alt="">
                    <h4>Name, <span>Author</span></h4>
                    <button class="start">$500</button>
                </div>
            </div>

        </ngx-slick-carousel>
    </div>

    <div class="row part4">

        <div class="col-lg-6 quality_product_div2">

            <h4 class="p-1">Register now and get a discount 50% discount until 1 January </h4>
            <div class="myunderline"></div>

            <p>
                In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin
                quis mi malesuada, finibus tortor fermentum. Aliquam, augue a gravida rutrum, ante nisl fermentum nulla,
                vitae tempo.
            </p>

            <button class="contact_us">
                Register now
            </button>

        </div>

        <div class="col-lg-6 formside ">
            <form [formGroup]="enquiry_form" (ngSubmit)="onSubmit()">
                <div class="row formside">
                    <div class="col-12 colheading_part1">
                        <h4>Search for your course</h4>
                    </div>

                    <div class="input_field col-12">
                        <label for="course_name">Course Name</label>
                        <input id="course_name" type="text" formControlName="course_name" placeholder="Course Name" />
                        <div *ngIf="course_name?.invalid && course_name?.touched" class="error">
                            <small *ngIf="course_name?.errors?.['required']">Course Name is required.</small>
                            <small *ngIf="course_name?.errors?.['course_name']">Enter a Course Name.</small>
                        </div>
                    </div>

                    <div class="input_field col-12">
                        <label for="category">Category</label>
                        <input id="category" type="text" formControlName="category" placeholder="Category" />
                        <div *ngIf="category?.invalid && category?.touched" class="error">
                            <small *ngIf="category?.errors?.['required']">Category is required.</small>
                            <small *ngIf="category?.errors?.['pattern']">Enter a valid Category.</small>
                        </div>
                    </div>

                    <div class="col-12 input_field">
                        <label for="message_to">Degree</label>
                        <input type="text" formControlName="message" id="message_to" placeholder="Degree">
                        <div *ngIf="message?.invalid && message.touched" class="error">
                            <small *ngIf="message?.errors?.['required']">
                                Degree is required
                            </small>
                        </div>
                    </div>

                    <button type="submit">Submit</button>

                </div>
            </form>
        </div>
    </div>

    <div class="row msg_from_students all_sec_common">
        <div
            style="display: flex; justify-content: center; flex-direction: column; align-items: center;padding: 1em 0px;">
            <h3 style="text-align: center; font-size: 3em; font-weight: 600; color: white;">
                What our students say
            </h3>
            <div style="border-bottom: 5px solid #fbff00; width: 100px; margin-top: 10px;"></div>
        </div>

        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="studentsslideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">

            <div ngxSlickItem *ngFor="let slide of slides" class="" class="  slide  ourCoursesCol">
                <p>{{slide.para}}</p>
                <img src="assets/students.jpg" alt="">
                <h3>{{slide.heading}}</h3>
                <span>Graduate</span>
            </div>

        </ngx-slick-carousel>
    </div>

    <div class="row services_we_offer  all_sec_common">
        <div
            style="display: flex; justify-content: center; flex-direction: column; align-items: center;padding: 1em 0px;">
            <h3 style="text-align: center; font-size: 3em; font-weight: 600;">
                Services We Offer
            </h3>
            <div style="border-bottom: 5px solid #150461; width: 100px; margin-top: 10px;"></div>
        </div> 

        <div class="col-4 service_col">
            <i class="bi bi-amd"></i>
            <h3>Service Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam iure ipsa, fugit voluptatibus
                esse suscipit molestiae est consequuntur iste!</p>
        </div>
        <div class="col-4 service_col">
            <i class="bi bi-amd"></i>
            <h3>Service Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam iure ipsa, fugit voluptatibus
                esse suscipit molestiae est consequuntur iste!</p>
        </div>
        <div class="col-4 service_col">
            <i class="bi bi-amd"></i>
            <h3>Service Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam iure ipsa, fugit voluptatibus
                esse suscipit molestiae est consequuntur iste!</p>
        </div>
        <div class="col-4 service_col">
            <i class="bi bi-amd"></i>
            <h3>Service Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam iure ipsa, fugit voluptatibus
                esse suscipit molestiae est consequuntur iste!</p>
        </div>
        <div class="col-4 service_col">
            <i class="bi bi-amd"></i>
            <h3>Service Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam iure ipsa, fugit voluptatibus
                esse suscipit molestiae est consequuntur iste!</p>
        </div>
        <div class="col-4 service_col">
            <i class="bi bi-amd"></i>
            <h3>Service Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam iure ipsa, fugit voluptatibus
                esse suscipit molestiae est consequuntur iste!</p>
        </div>
        <div class="col-4 service_col">
            <i class="bi bi-amd"></i>
            <h3>Service Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam iure ipsa, fugit voluptatibus
                esse suscipit molestiae est consequuntur iste!</p>
        </div>
        <div class="col-4 service_col">
            <i class="bi bi-amd"></i>
            <h3>Service Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam iure ipsa, fugit voluptatibus
                esse suscipit molestiae est consequuntur iste!</p>
        </div>
        <div class="col-4 service_col">
            <i class="bi bi-amd"></i>
            <h3>Service Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam iure ipsa, fugit voluptatibus
                esse suscipit molestiae est consequuntur iste!</p>
        </div>

    </div>
</div>
